body {
    color: white;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #191919;
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;

  cursor: pointer;
}
p,
span {
  margin: 10px 0;
  font-size: 18px;
}

.heads,.tails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}


.containertoss {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

img{
    width: 100px;
    height: 100px;
            border-radius: 50%;

}

.containertoss button{
    background-color: #191919;
    border: 5px solid white;
        border-radius: 50%;
}
